html {
  margin: 1rem;
  align-items: center;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  text-align: left;
}

h2 {
	text-align: left;
}

h3 {
	text-align: left;
}

ul {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

.myContainer {
  background-color: white;
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 50px darkgray;
}

.navigatorContainer {
  padding: 10px;
  text-align: left;
  position: sticky;
  top: 20px;
}

.borderClass {
  border: 1px solid black;
  margin: 5px;
}

.cite {
  color: gray;
}

.center_table {
    margin-left: auto;
    margin-right: auto;
}

table tr, td{
  border-style: solid;
  border-bottom-width: 1px;
  border-color: black;
  padding-right: 15px;
}

.welcomeImage {
	width: 200px;
	margin: 0px 10px 10px 0px;
	border-radius: 5%;
}

.welcomeSection {
	display: flex;
	padding: 5px;
}

.navImage {
	width: 100%;
	width: -webkit-fill-available;
    width: -moz-available;
	width: stretch;
}

